# Ignore target directories and build outputs
/target/
/out/

# Ignore Maven dependencies and other Maven files
.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
release.properties

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/vcs.xml
.idea/**/deployment.xml
.idea/**/libraries/

# Java project specific
*.class
*.jar
*.war
*.rar

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Ignore the local configuration file
.env

# Ignore build tools
!mvnw
!mvnw.cmd
.gradle/
build/